In [3]:
import pandas as pd

In [7]:
# Load thwe dataset 
df = pd.read_csv('sample-chocolate-sales-data.csv', delimiter = ',')

In [9]:
# summary of a DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sales Person  4998 non-null   object
 1   Product       4998 non-null   object
 2   Country       4998 non-null   object
 3   Date          4998 non-null   object
 4   Amount        4998 non-null   float64
 5   Boxes         4998 non-null   int64
 6   Order Status  4998 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 273.5+ KB

In [11]:
# summary statistics of your DataFrame
df.describe()

             Amount        Boxes
count   4998.000000  4998.000000
mean    5600.411615   397.949580
std     3780.856987   363.396528
min        2.250000     1.000000
25%     2756.812500   168.000000
50%     5167.125000   315.000000
75%     7637.625000   513.000000
max    24108.750000  3385.000000

In [13]:
# First five rows of the Dataframe
df.head()

,Sales Person,Product,Country,Date,Amount,Boxes,Order Status
0,Jehu Rudeforth,White Choc,USA,02-Jan-23,5879.25,236,Delivered
1,Roddy Speechley,Choco Coated Almonds,UK,02-Jan-23,2110.50,141,Delivered
2,Oby Sorrel,Raspberry Choco,UK,02-Jan-23,9058.50,906,Cancelled
3,Camilla Castle,50% Dark Bites,USA,02-Jan-23,1228.50,73,Delivered
4,Madelene Upcott,Baker's Choco Chips,Canada,02-Jan-23,5451.75,321,Delivered

In [15]:
# Checking if there is any Null values 
df.isnull().sum()

Sales Person    0
Product         0
Country         0
Date            0
Amount          0
Boxes           0
Order Status    0
dtype: int64